[package]
name = "fedimint-mint-client"
version = "0.2.0-rc4"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-mint is a chaumian ecash mint module."
license = "MIT"
repository = "https://github.com/fedimint/fedimint"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "fedimint_mint_client"
path = "src/lib.rs"

[dependencies]
anyhow = "1.0.66"
async-stream = "0.3.5"
async-trait = "0.1"
aquamarine = "0.3.1"
base64 = "0.20.0"
bincode = "1.3.1"
bitcoin_hashes = "0.11.0"
erased-serde = "0.3"
futures = "0.3"
itertools = "0.10.5"
fedimint-core = { version = "0.2.0-rc4", path = "../../fedimint-core" }
fedimint-client = { version = "0.2.0-rc4", path = "../../fedimint-client" }
fedimint-derive-secret = { version = "0.2.0-rc4", path = "../../crypto/derive-secret"}
fedimint-mint-common ={ version = "0.2.0-rc4", path = "../fedimint-mint-common" }
fedimint-logging = { version = "0.2.0-rc4", path = "../../fedimint-logging" }
rand = "0.8"
secp256k1 = "0.24.2"
secp256k1-zkp = "0.7.0"
serde = { version = "1.0.149", features = [ "derive" ] }
serde-big-array = "0.5.1"
serde_json = "1.0.96"
strum = "0.24"
strum_macros = "0.24"
tbs = { package = "fedimint-tbs", version = "0.2.0-rc4", path = "../../crypto/tbs" }
thiserror = "1.0.39"
threshold_crypto = { workspace = true }
tokio = { version = "1.27.0", features = [ "sync" ] }
tracing ="0.1.37"

[dev-dependencies]
rand = "0.8"
tracing-subscriber = { version = "0.3.16", features = [ "env-filter" ] }
test-log = { version = "0.2", features = [ "trace" ], default-features = false }
tokio = { version = "1.27.0", features = [ "macros", "rt" ] }
