[package]
name = "fedimint-mint-client"
version = "0.3.4-rc.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-mint is a chaumian ecash mint module."
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/fedimint/fedimint"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "fedimint_mint_client"
path = "src/lib.rs"

[dependencies]
anyhow = "1.0.81"
async-stream = "0.3.5"
async-trait = "0.1"
aquamarine = "0.5.0"
base64 = "0.22.0"
bincode = "1.3.3"
bitcoin_hashes = "0.11.0"
erased-serde = "0.4"
futures = "0.3"
itertools = "0.12.1"
fedimint-core = { version = "=0.3.4-rc.0", path = "../../fedimint-core" }
fedimint-client = { version = "=0.3.4-rc.0", path = "../../fedimint-client" }
fedimint-derive-secret = { version = "=0.3.4-rc.0", path = "../../crypto/derive-secret"}
fedimint-mint-common ={ version = "=0.3.4-rc.0", path = "../fedimint-mint-common" }
fedimint-logging = { version = "=0.3.4-rc.0", path = "../../fedimint-logging" }
rand = "0.8"
secp256k1 = "0.24.3"
secp256k1-zkp = "0.7.0"
serde = { version = "1.0.197", features = [ "derive" ] }
serde-big-array = "0.5.1"
serde_json = "1.0.114"
strum = "0.26"
strum_macros = "0.26"
tbs = { package = "fedimint-tbs", version = "=0.3.4-rc.0", path = "../../crypto/tbs" }
thiserror = "1.0.58"
threshold_crypto = { workspace = true }
tokio = { version = "1.36.0", features = [ "sync" ] }
tracing ="0.1.40"

[dev-dependencies]
rand = "0.8"
tracing-subscriber = { version = "0.3.18", features = [ "env-filter" ] }
test-log = { version = "0.2", features = [ "trace" ], default-features = false }
tokio = { version = "1.36.0", features = [ "macros", "rt" ] }
