[package]
authors = { workspace = true }
description = "fedimint-mint is a chaumian ecash mint module."
edition = { workspace = true }
license = { workspace = true }
name = "fedimint-mint-client"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

[package.metadata.cargo-udeps.ignore]
# cargo udeps can't detect that one
normal = ["aquamarine"]

[features]
cli = ["dep:clap"]
default = []

[lib]
name = "fedimint_mint_client"
path = "src/lib.rs"

[[bench]]
harness = false
name = "notes"
path = "benches/notes.rs"

[dependencies]
anyhow = { workspace = true }
aquamarine = { workspace = true }
async-stream = { workspace = true }
async-trait = { workspace = true }
base64 = { workspace = true }
bitcoin_hashes = { workspace = true }
bls12_381 = { workspace = true }
clap = { workspace = true, optional = true }
erased-serde = { workspace = true }
fedimint-api-client = { workspace = true }
fedimint-client-module = { workspace = true }
fedimint-core = { workspace = true }
fedimint-derive-secret = { workspace = true }
fedimint-eventlog = { workspace = true }
fedimint-logging = { workspace = true }
fedimint-mint-common = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
itertools = { workspace = true }
rayon = { workspace = true }
serde = { workspace = true }
serde-big-array = { workspace = true }
serde_json = { workspace = true }
serdect = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
tbs = { workspace = true }
thiserror = { workspace = true }
threshold_crypto = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
test-log = { workspace = true }
