[package]
name = "fedimint-mint-client"
version = { workspace = true }
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-mint is a chaumian ecash mint module."
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/fedimint/fedimint"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "fedimint_mint_client"
path = "src/lib.rs"

[[bench]]
name = "notes"
harness = false

[package.metadata.cargo-udeps.ignore]
# cargo udeps can't detect that one
normal = ["aquamarine"]

[dependencies]
anyhow = { workspace = true }
async-stream = "0.3.5"
async-trait = "0.1"
aquamarine = "0.5.0"
base64 = "0.22.1"
base64-url = "3.0.0"
bincode = { workspace = true }
bls12_381 = { workspace = true }
bitcoin_hashes = { workspace = true }
clap = { workspace = true }
erased-serde = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
itertools = { workspace = true }
fedimint-core = { workspace = true }
fedimint-api-client = { workspace = true }
fedimint-client = { workspace = true }
fedimint-derive-secret = { version = "=0.4.2-rc.4", path = "../../crypto/derive-secret" }
fedimint-mint-common = { version = "=0.4.2-rc.4", path = "../fedimint-mint-common" }
fedimint-logging = { workspace = true }
secp256k1-zkp = "0.9.2"
serde = { workspace = true }
serdect = { workspace = true }
serde-big-array = { workspace = true }
serde_json = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
tbs = { package = "fedimint-tbs", version = "=0.4.2-rc.4", path = "../../crypto/tbs" }
thiserror = { workspace = true }
threshold_crypto = { workspace = true }
tokio = { version = "1.38.0", features = ["sync"] }
tracing = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
test-log = { version = "0.2", features = ["trace"], default-features = false }
