[package]
name = "fedimint-meta-client"
version = "0.4.0-alpha"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-meta is a meta consensus fedimint module."
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/fedimint/fedimint"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

[lib]
name = "fedimint_meta_client"
path = "src/lib.rs"

[features]
default =[]
cli = ["dep:clap", "dep:serde_json"]

[dependencies]
async-trait = "0.1.79"
anyhow = { workspace = true }
clap = { workspace = true, optional = true }
hex = { workspace = true }
serde_json = { workspace = true, optional = true }
fedimint-meta-common = { version = "=0.4.0-alpha", path = "../fedimint-meta-common" }
fedimint-client = { version = "=0.4.0-alpha", path = "../../fedimint-client" }
fedimint-core = { version = "=0.4.0-alpha", path = "../../fedimint-core" }
futures = { workspace = true }
erased-serde = { workspace = true }
rand = { workspace = true }
secp256k1 = "0.24.2"
serde = {version = "1.0.149", features = [ "derive" ] }
strum = { workspace = true }
strum_macros = { workspace = true }
tracing = { workspace = true }
thiserror = { workspace = true }
threshold_crypto = { workspace = true }
