[package]
name = "devimint"
version = { workspace = true }
edition = "2021"
license = "MIT"
publish = false
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "devimint"
path = "src/main.rs"

[dependencies]
anyhow = { version = "1.0.86", features = ["backtrace"] }
axum = { version = "0.7.5", features = ["tracing"] }
bitcoincore-rpc = { workspace = true }
clap = { version = "4.5.8", features = ["derive", "env", "std", "help", "usage", "error-context", "suggestions"], default-features = false }
cln-rpc = { workspace = true }
esplora-client = { workspace = true }
fedimint-aead = { path = "../crypto/aead" }
fedimint-api-client = { workspace = true }
fedimint-bitcoind = { path = "../fedimint-bitcoind" }
fedimint-client  = { path = "../fedimint-client" }
fedimint-core = { workspace = true }
fedimint-ln-client = { workspace = true, features = [ "cli" ] }
fedimint-ln-server = { path = "../modules/fedimint-ln-server" }
fedimint-lnv2-client = { path = "../modules/fedimint-lnv2-client", features = [ "cli" ] }
fedimint-lnv2-common = { path = "../modules/fedimint-lnv2-common" }
fedimint-lnv2-server = { path = "../modules/fedimint-lnv2-server" }
fedimint-logging = { workspace = true }
fedimint-meta-server = { path = "../modules/fedimint-meta-server" }
fedimint-mint-server = { path = "../modules/fedimint-mint-server" }
fedimint-portalloc = { path = "../utils/portalloc" }
fedimint-server = { path = "../fedimint-server" }
fedimint-testing = { workspace = true }
fedimint-unknown-server = { path = "../modules/fedimint-unknown-server" }
fedimint-wallet-client = { path = "../modules/fedimint-wallet-client" }
fedimint-wallet-server = { path = "../modules/fedimint-wallet-server" }
fedimintd = { path = "../fedimintd" }
fs-lock = "0.1.3"
futures = { workspace = true }
hex = { workspace = true }
ln-gateway = { package = "fedimint-ln-gateway", path = "../gateway/ln-gateway" }
nix = { version = "0.29.0", features = ["signal"] }
once_cell = { workspace = true }
rand = { workspace = true }
semver = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { version = "1.38.0", features = ["full", "tracing"] }
tonic_lnd = { workspace = true }
tower-http = { version = "0.5.2", features = ["cors", "auth"] }
tracing = { workspace = true }
tracing-subscriber = "0.3.18"
url = { workspace = true }

[build-dependencies]
fedimint-build = { version = "=0.4.0-alpha", path = "../fedimint-build" }
