[package]
name = "devimint"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "devimint"
path = "src/main.rs"

[dependencies]
anyhow = { version = "1.0.69", features = ["backtrace"] }
axum = { version = "0.6.4", features = ["tracing"] }
bitcoincore-rpc = "0.16.0"
clap = { version = "4.1.6", features = ["derive", "env", "std", "help", "usage", "error-context", "suggestions"], default-features = false }
cln-rpc = "0.1.1"
fedimint-aead = { path = "../crypto/aead" }
fedimintd = { path = "../fedimintd" }
fedimint-core  = { path = "../fedimint-core" }
fedimint-cli  = { path = "../fedimint-cli" }
fedimint-client  = { path = "../fedimint-client" }
fedimint-bitcoind = { path = "../fedimint-bitcoind" }
fedimint-logging = { path = "../fedimint-logging" }
fedimint-wallet-client = { path = "../modules/fedimint-wallet-client" }
fedimint-server = { path = "../fedimint-server" }
fedimint-testing = { path = "../fedimint-testing" }
futures = "0.3.24"
ln-gateway = { path = "../gateway/ln-gateway" }
nix = { version = "0.26.2", features = ["signal"] }
rand = "0.8.5"
serde_json = "1.0.94"
tokio = { version = "1.26.0", features = ["full", "tracing"] }
tonic_lnd = { workspace = true }
tower-http = { version = "0.4.3", features = ["cors", "auth"] }
tracing = "0.1.37"
tracing-subscriber = "0.3.16"
serde = "1.0.159"
url = "2.3.1"
