[package]
edition = "2021"
name = "fedimint-client-wasm"
version = { workspace = true }
authors = ["The Fedimint Developers"]
description = "fedimint client for wasm"
license = "MIT"
readme = "../README.md"
repository = "https://github.com/fedimint/fedimint"

[lib]
crate-type = ["cdylib", "rlib"]
name = "fedimint_client_wasm"
path = "src/lib.rs"

[dependencies]
anyhow = { workspace = true }
async-stream = "0.3.5"
fedimint-api-client = { workspace = true }
fedimint-client = { workspace = true }
fedimint-core = { workspace = true }
fedimint-ln-client = { workspace = true, features = ["cli"] }
fedimint-mint-client = { workspace = true }
futures = { workspace = true }
js-sys = "0.3.69"
serde_json = { workspace = true }
wasm-bindgen = "=0.2.92"                                      # must match the nix provided wasm-bindgen-cli version
wasm-bindgen-futures = "0.4.42"
