/target/
/target-nix/
/hfuzz_target/
/hfuzz_workspace/
/target-comp-bench/
/tmp/
/db/migrations/*.lock
# in case it's a symlink
/target
/target-nix
/hfuzz_target
/hfuzz_workspace
/target-comp-bench
/tmp

/result
/.shrc.local
.idea
.tmpenv
.direnv
.vscode
.DS_Store

.cargo/registry
.cargo/.package-cache
.cargo/.package-cache-mutate

.aider.*
.aider*

# Start9 build files
fedimint-startos/docker-images
fedimint-startos/fedimintd.s9pk
fedimint-startos/scripts/embassy.js

# Trunk build artifacts
fedimint-recoverytoolv2-ui/dist/
fedimint-recoverytoolv2-ui/.config/
