/target/
/target-nix/
/hfuzz_target/
/hfuzz_workspace/
/target-comp-bench/
# in case it's a symlink
/target
/target-nix
/hfuzz_target
/hfuzz_workspace
/target-comp-bench

/result
.idea
.tmpenv
.direnv
.vscode
.DS_Store

.cargo/registry
.cargo/.package-cache
.cargo/.package-cache-mutate
