[workspace]

members = [
    "crypto/tbs",
    "ln-gateway",
    "minimint",
    "minimint-core",
    "minimint-derive",
    "minimint-api",
    "client/cli",
    "client/client-lib",
    "client/clientd",
    "modules/minimint-mint",
    "modules/minimint-ln",
    "modules/minimint-wallet",
    "integrationtests",
]
resolver = "2"

[patch.crates-io]
bitcoin_hashes = { version = "0.10.0", git = 'https://github.com/fedimint/bitcoin_hashes', branch = 'minimint' }
rocksdb = { git = "https://github.com/fedimint/rust-rocksdb", branch = "minimint" }
secp256k1-zkp = { git = "https://github.com/fedimint/rust-secp256k1-zkp/", branch = "sanket-pr" }
cln-plugin = { git = "https://github.com/ElementsProject/lightning", rev = "42783aa" }
cln-rpc = { git = "https://github.com/ElementsProject/lightning", rev = "42783aa" }
threshold_crypto = { git = "https://github.com/fedimint/threshold_crypto" }
hbbft = { git = "https://github.com/fedimint/hbbft" }