[workspace]
members = [
    "crypto/aead",
    "crypto/derive-secret",
    "crypto/hkdf",
    "crypto/tbs",
    "crypto/tpe",
    "devimint",
    "docs",
    "fedimint-api-client",
    "fedimint-bip39",
    "fedimint-bitcoind",
    "fedimint-build",
    "fedimint-cli",
    "fedimint-client",
    "fedimint-core",
    "fedimint-dbtool",
    "fedimint-derive",
    "fedimint-load-test-tool",
    "fedimint-logging",
    "fedimint-metrics",
    "fedimint-recoverytool",
    "fedimint-rocksdb",
    "fedimint-server",
    "fedimint-testing",
    "fedimint-testing-core",
    "fedimint-wasm-tests",
    "fedimintd",
    "fuzz",
    "gateway/cli",
    "gateway/integration_tests",
    "gateway/ln-gateway",
    "modules/fedimint-dummy-client",
    "modules/fedimint-dummy-common",
    "modules/fedimint-dummy-server",
    "modules/fedimint-dummy-tests",
    "modules/fedimint-empty-client",
    "modules/fedimint-empty-common",
    "modules/fedimint-empty-server",
    "modules/fedimint-ln-client",
    "modules/fedimint-ln-common",
    "modules/fedimint-ln-server",
    "modules/fedimint-ln-tests",
    "modules/fedimint-lnv2-client",
    "modules/fedimint-lnv2-common",
    "modules/fedimint-lnv2-server",
    "modules/fedimint-lnv2-tests",
    "modules/fedimint-meta-client",
    "modules/fedimint-meta-common",
    "modules/fedimint-meta-server",
    "modules/fedimint-meta-tests",
    "modules/fedimint-mint-client",
    "modules/fedimint-mint-common",
    "modules/fedimint-mint-server",
    "modules/fedimint-mint-tests",
    "modules/fedimint-unknown-common",
    "modules/fedimint-unknown-server",
    "modules/fedimint-wallet-client",
    "modules/fedimint-wallet-common",
    "modules/fedimint-wallet-server",
    "modules/fedimint-wallet-tests",
    "utils/portalloc"]
resolver = "2"

[workspace.package]
version = "0.5.0-alpha"

[workspace.package.crane]
name = "fedimint"

[workspace.metadata]
name = "fedimint"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "Fedimint is a prototype Federated Chaumian E-Cash Mint implementation, natively compatible with Bitcoin & the Lightning Network. This project is under heavy development, DO NOT USE WITH REAL FUNDS."
documentation = "https://github.com/fedimint/fedimint/tree/master/docs"
readme = "README.md"
homepage = "https://fedimint.org"
repository = "https://github.com/fedimint/fedimint"
license-file = "LICENSE"
keywords = ["bitcoin", "lightning", "chaumian", "e-cash", "federated"]

[workspace.dependencies]
base64 = "0.22.1"
criterion = { version = "0.5.1" }
threshold_crypto = { version = "0.2.1", package = "fedimint-threshold-crypto" }
tonic_lnd = { version = "0.2.0", package = "fedimint-tonic-lnd", features = ["lightningrpc", "routerrpc"] }
cln-rpc = "0.1.9"
clap = { version = "4.5.9", features = ["derive", "std", "help", "usage", "error-context", "suggestions", "env"], default-features = false }
electrum-client = { version = "0.18.0", features = [ "use-rustls" ] }
esplora-client = { version = "0.6.0", default-features = false, features = [
    "async",
    "async-https-rustls",
] }
reqwest = { version = "0.12.5", features = [
    "json",
    "rustls-tls",
    "charset",
    "http2",
], default-features = false }
serde = { version = "1.0.204", features = ["derive"] }
serde-big-array = "0.5.1"
serde_json = "1.0.120"
serdect = "0.2.0"
bls12_381 = "0.8.0"
group = "0.13.0"
itertools = "0.12.1"
anyhow = "1.0.86"
hyper = { version = "1.4" }
bitcoin_hashes = "0.12.0"
rand = "0.8.5"
rand_chacha = "0.3.1"
tracing = "0.1.40"
bitcoin = "0.30.2"
bitcoincore-rpc = "0.17.0"
semver = "1.0.23"
strum = "0.26"
strum_macros = "0.26"
subtle = "2.6.1"
futures = "0.3.30"
futures-util = "0.3.30"
lightning = "0.0.123"
lightning-invoice = "0.31.0"
once_cell = "1.19.0"
thiserror = "1.0.63"
tokio = { version = "1.38.1", features = ["sync", "io-util"] }
url = "2.5.2"
erased-serde = "0.4"
async-trait = "0.1.81"
bincode = "1.3.3"
tokio-rustls = "0.24.1"
hex = "0.4.3"
assert_matches = "1.5.0"
devimint = { path = "./devimint", version = "=0.5.0-alpha" }
fedimint-build = { path = "./fedimint-build", version = "=0.5.0-alpha" }
fedimint-client = { path = "./fedimint-client", version = "=0.5.0-alpha" }
fedimint-core = { path = "./fedimint-core", version = "=0.5.0-alpha" }
fedimint-ln-client = { path = "./modules/fedimint-ln-client", version = "=0.5.0-alpha" }
fedimint-api-client = { path = "./fedimint-api-client", version = "=0.5.0-alpha" }
fedimint-logging = { path = "./fedimint-logging", version = "=0.5.0-alpha" }
fedimint-empty-common = { path = "./modules/fedimint-empty-common", version = "=0.5.0-alpha" }
fedimint-testing = { path = "./fedimint-testing", version = "=0.5.0-alpha" }
fedimint-testing-core = { path = "./fedimint-testing-core", version = "=0.5.0-alpha" }
fedimint-ln-common = { path = "./modules/fedimint-ln-common", version = "=0.5.0-alpha" }
fedimint-lnv2-common = { path = "./modules/fedimint-lnv2-common", version = "=0.5.0-alpha" }
fedimint-meta-common = { path = "./modules/fedimint-meta-common", version = "=0.5.0-alpha" }
fedimint-mint-common = { path = "./modules/fedimint-mint-common", version = "=0.5.0-alpha" }
fedimint-rocksdb = { path = "./fedimint-rocksdb", version = "=0.5.0-alpha" }
fedimint-wallet-common = { path = "./modules/fedimint-wallet-common", version = "=0.5.0-alpha" }

# Workaround: https://github.com/rust-lang/cargo/issues/12457 which causes
#             https://github.com/ipetkov/crane/issues/370
[profile.dev.build-override]
debug = false
opt-level = 3

# in dev mode optimize crates that are perf-critical (usually just crypto crates)
[profile.dev.package]
secp256k1 = { opt-level = 3 }
secp256k1-zkp = { opt-level = 3 }
secp256k1-sys = { opt-level = 3 }
secp256k1-zkp-sys = { opt-level = 3 }
bitcoin_hashes = { opt-level = 3 }
ff = { opt-level = 3 }
group = { opt-level = 3 }
pairing = { opt-level = 3 }
rand_core = { opt-level = 3 }
byteorder = { opt-level = 3 }
zeroize = { opt-level = 3 }
bls12_381 = { opt-level = 3 }
subtle = { opt-level = 3 }
ring = { opt-level = 3 }
fedimint-threshold-crypto = { opt-level = 3 }
aleph-bft-crypto = { opt-level = 3 }
aleph-bft-rmc = { opt-level = 3 }
aleph-bft-types = { opt-level = 3 }

[profile.dev.package."*"] # external dependencies
opt-level = 1

[profile.ci]
inherits = "dev"
debug = "line-tables-only"
incremental = false

[profile.ci.build-override]
debug = false
opt-level = 1

[profile.release]
debug = "line-tables-only"
