[workspace]
members = [
    "crypto/aead",
    "crypto/hkdf",
    "crypto/tbs",
    "gateway/ln-gateway",
    "gateway/cli",
    "gateway/tests",
    "fedimintd",
    "fedimint-bitcoind",
    "fedimint-core",
    "fedimint-client",
    "fedimint-derive",
    "fedimint-dbdump",
    "fedimint-api",
    "fedimint-rocksdb",
    "fedimint-testing",
    "fedimint-server",
    "fedimint-sled",
    "client/cli",
    "client/client-lib",
    "modules/fedimint-mint",
    "modules/fedimint-ln",
    "modules/fedimint-wallet",
    "integrationtests",
    "fedimint-build",
]
resolver = "2"

[workspace.metadata]
name = "fedimint"
version = "0.1.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "Fedimint is a prototype Federated Chaumian E-Cash Mint implementation, natively compatible with Bitcoin & the Lightning Network. This project is under heavy development, DO NOT USE WITH REAL FUNDS."
documentation = "https://github.com/fedimint/fedimint/tree/master/docs"
readme = "README.md"
homepage = "https://fedimint.org"
repository = "https://github.com/fedimint/fedimint"
license-file = "LICENSE"
keywords = ["bitcoin", "lightning", "chaumian", "e-cash", "federated"]


[profile.dev]
split-debuginfo = "packed"

# in dev mode optimize crates that are perf-critical (usually just crypto crates)
[profile.dev.package]
secp256k1 = { opt-level = 2 }
secp256k1-zkp = { opt-level = 2 }
secp256k1-sys = { opt-level = 2 }
secp256k1-zkp-sys = { opt-level = 2 }
bitcoin_hashes = { opt-level = 2 }
ff = { opt-level = 2 }
group = { opt-level = 2 }
pairing = { opt-level = 2 }
rand_core = { opt-level = 2 }
byteorder = { opt-level = 2 }
zeroize = { opt-level = 2 }
bls12_381 = { opt-level = 2 }
subtle = { opt-level = 2 }
ring = { opt-level = 2 }

[patch.crates-io]
secp256k1-zkp = { git = "https://github.com/dpc/rust-secp256k1-zkp/", branch = "sanket-pr" }
