[workspace]
members = [
    "core/api",
    "core/client",
    "core/server",
    "crypto/tbs",
    "ln-gateway",
    "fedimintd",
    "fedimint-core",
    "fedimint-client",
    "fedimint-derive",
    "fedimint-api",
    "fedimint-rocksdb",
    "fedimint-server",
    "fedimint-sled",
    "client/cli",
    "client/client-lib",
    "client/clientd",
    "modules/mint-common",
    "modules/mint-server",
    "modules/mint-client",
    "modules/fedimint-mint",
    "modules/fedimint-ln",
    "modules/fedimint-wallet",
    "integrationtests",
    "fedimint-build",
]
resolver = "2"

[workspace.metadata]
name = "fedimint"
version = "0.1.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "Fedimint is a prototype Federated Chaumian E-Cash Mint implementation, natively compatible with Bitcoin & the Lightning Network. This project is under heavy development, DO NOT USE WITH REAL FUNDS."
documentation = "https://github.com/fedimint/fedimint/tree/master/docs"
readme = "README.md"
homepage = "https://fedimint.org"
repository = "https://github.com/fedimint/fedimint"
license-file = "LICENSE"
keywords = ["bitcoin", "lightning", "chaumian", "e-cash", "federated"]

[patch.crates-io]
bitcoin_hashes = { version = "0.10.0", git = 'https://github.com/fedimint/bitcoin_hashes', branch = 'fedimint' }
secp256k1-zkp = { git = "https://github.com/fedimint/rust-secp256k1-zkp/", branch = "sanket-pr" }
cln-plugin = { git = "https://github.com/ElementsProject/lightning", rev = "42783aa" }
cln-rpc = { git = "https://github.com/ElementsProject/lightning", rev = "42783aa" }
