[workspace]
members = [
    "crypto/aead",
    "crypto/derive-secret",
    "crypto/hkdf",
    "crypto/tbs",
    "crypto/tpe",
    "docs",
    "gateway/ln-gateway",
    "gateway/cli",
    "gateway/integration_tests",
    "fedimintd",
    "fedimint-bip39",
    "fedimint-bitcoind",
    "fedimint-cli",
    "fedimint-client",
    "fedimint-core",
    "fedimint-api-client",
    "fedimint-dbtool",
    "fedimint-derive",
    "fedimint-load-test-tool",
    "fedimint-logging",
    "fedimint-metrics",
    "fedimint-rocksdb",
    "fedimint-server",
    "fedimint-testing",
    "fedimint-wasm-tests",
    "fuzz",
    "modules/fedimint-empty-common",
    "modules/fedimint-empty-client",
    "modules/fedimint-empty-server",
    "modules/fedimint-dummy-common",
    "modules/fedimint-dummy-client",
    "modules/fedimint-dummy-server",
    "modules/fedimint-meta-common",
    "modules/fedimint-meta-client",
    "modules/fedimint-meta-server",
    "modules/fedimint-meta-tests",
    "modules/fedimint-unknown-common",
    "modules/fedimint-unknown-server",
    "modules/fedimint-dummy-tests",
    "modules/fedimint-mint-common",
    "modules/fedimint-mint-client",
    "modules/fedimint-mint-server",
    "modules/fedimint-mint-tests",
    "modules/fedimint-ln-common",
    "modules/fedimint-ln-client",
    "modules/fedimint-ln-server",
    "modules/fedimint-ln-tests",
    "modules/fedimint-lnv2-common",
    "modules/fedimint-lnv2-client",
    "modules/fedimint-lnv2-server",
    "modules/fedimint-lnv2-tests",
    "modules/fedimint-wallet-common",
    "modules/fedimint-wallet-client",
    "modules/fedimint-wallet-server",
    "modules/fedimint-wallet-tests",
    "utils/portalloc",
    "devimint",
    "fedimint-build",
    "recoverytool"
]
resolver = "2"

[workspace.package]
name = "fedimint"
version = "0.4.0-alpha"

[workspace.metadata]
name = "fedimint"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "Fedimint is a prototype Federated Chaumian E-Cash Mint implementation, natively compatible with Bitcoin & the Lightning Network. This project is under heavy development, DO NOT USE WITH REAL FUNDS."
documentation = "https://github.com/fedimint/fedimint/tree/master/docs"
readme = "README.md"
homepage = "https://fedimint.org"
repository = "https://github.com/fedimint/fedimint"
license-file = "LICENSE"
keywords = ["bitcoin", "lightning", "chaumian", "e-cash", "federated"]

[workspace.dependencies]
base64 = "0.22.1"
criterion = { version = "0.5.1" }
threshold_crypto = { version = "0.2.1", package = "fedimint-threshold-crypto" }
tonic_lnd = { version = "0.2.0", package="fedimint-tonic-lnd", features = ["lightningrpc", "routerrpc"] }
cln-rpc = "0.1.9"
clap = { version = "4.5.4", features = ["derive", "std", "help", "usage", "error-context", "suggestions", "env"], default-features = false }
serde = { version = "1.0.203", features = ["derive"] }
serde-big-array = "0.5.1"
serde_json = "1.0.117"
serdect = "0.2.0"
bls12_381 = "0.8.0"
group = "0.13.0"
itertools = "0.12.1"
anyhow = "1.0.86"
hyper = { version = "1.3" }
bitcoin_hashes = "0.12.0"
rand = "0.8.5"
rand_chacha = "0.3.1"
tracing = "0.1.40"
bitcoin = "0.30.2"
bitcoincore-rpc = "0.17.0"
semver = "1.0.23"
strum = "0.26"
strum_macros = "0.26"
futures = "0.3.30"
futures-util = "0.3.30"
lightning = "0.0.123"
lightning-invoice = "0.31.0"
thiserror = "1.0.61"
tokio = { version = "1.38.0", features = ["sync", "io-util"] }
url = "2.5.0"
erased-serde = "0.4"
async-trait = "0.1.80"
bincode = "1.3.3"
tokio-rustls = "0.24.1"
hex = "0.4.3"
assert_matches = "1.5.0"
devimint = { path = "./devimint" }
fedimint-client = { path = "./fedimint-client" }
fedimint-core = { path = "./fedimint-core" }
fedimint-ln-client = { path = "./modules/fedimint-ln-client" }
fedimint-api-client = { path = "./fedimint-api-client" }
fedimint-logging = { path = "./fedimint-logging" }
fedimint-empty-common = { path = "./modules/fedimint-empty-common" }
fedimint-testing = { path = "./fedimint-testing" }
fedimint-ln-common = { path = "./modules/fedimint-ln-common" }
fedimint-lnv2-common = { path = "./modules/fedimint-lnv2-common" }
fedimint-meta-common = { path = "./modules/fedimint-meta-common" }
fedimint-mint-common = { path = "./modules/fedimint-mint-common" }
fedimint-wallet-common = { path = "./modules/fedimint-wallet-common" }

# Workaround: https://github.com/rust-lang/cargo/issues/12457 which causes
#             https://github.com/ipetkov/crane/issues/370
[profile.dev.build-override]
debug = false
opt-level = 1

[profile.ci.build-override]
debug = false
opt-level = 1

[profile.dev.package."*"] # external dependencies
opt-level = 1

# in dev mode optimize crates that are perf-critical (usually just crypto crates)
[profile.dev.package]
secp256k1 = { opt-level = 3 }
secp256k1-zkp = { opt-level = 3 }
secp256k1-sys = { opt-level = 3 }
secp256k1-zkp-sys = { opt-level = 3 }
bitcoin_hashes = { opt-level = 3 }
ff = { opt-level = 3 }
group = { opt-level = 3 }
pairing = { opt-level = 3 }
rand_core = { opt-level = 3 }
byteorder = { opt-level = 3 }
zeroize = { opt-level = 3 }
bls12_381 = { opt-level = 3 }
subtle = { opt-level = 3 }
ring = { opt-level = 3 }
fedimint-threshold-crypto = { opt-level = 3 }
aleph-bft-crypto = { opt-level = 3 }
aleph-bft-rmc = { opt-level = 3 }
aleph-bft-types = { opt-level = 3 }

[profile.ci]
inherits = "dev"
debug = "line-tables-only"
incremental = false

[profile.release]
debug = "line-tables-only"
