<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fedimint</title>
</head>
<body>

{% if running %}

    <h1>Federation is running</h1>
    <div>Connect to it by scanning this QR</div>
    <img src="/qr" alt="federation qr code" width="500" height="500" />

{% else %}

    <h3>Your Fedimint connection string</h3>
    <div>{{ connection_string }}</div>
    <button id="create-federation">Create Federation</button>

{% endif %}

<script>
    const generate = document.querySelector("#create-federation");
    generate.addEventListener("click", function(e) {
        location.href = "/guardians";
    });
</script>
</body>
</html>

