[package]
name = "fedimint-gateway-cli"
version = {workspace = true}
edition = "2021"
license = "MIT"
readme = "../../README.md"
description = "CLI tool to control lightning gateway"
repository = "https://github.com/fedimint/fedimint"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "gateway-cli"
path = "src/main.rs"

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
axum = "0.7.5"
axum-macros = "0.4.1"
bitcoin = { workspace = true }
clap = { version = "4.5.7", features = ["derive", "std", "help", "usage", "error-context", "suggestions"], default-features = false }
ln-gateway = { version = "=0.4.0-alpha", package = "fedimint-ln-gateway", path= "../ln-gateway" }
fedimint-core = { workspace = true }
fedimint-logging = { workspace = true }
reqwest = { version = "0.11.26", features = [ "json", "rustls-tls" ], default-features = false }
serde = { workspace = true}
serde_json = { workspace = true }
tokio = {version = "1.38", features = ["full"]}
tracing = { version = "0.1.40", default-features = false, features= ["log", "attributes", "std"] }
url = { version = "2.5.1", features = ["serde"] }
clap_complete = "4.5.5"

[build-dependencies]
fedimint-build = { version = "=0.4.0-alpha", path = "../../fedimint-build" }
