[package]
name = "fedimint-gateway-cli"
version = { workspace = true }
edition = "2021"
license = "MIT"
readme = "../../README.md"
description = "CLI tool to control lightning gateway"
repository = "https://github.com/fedimint/fedimint"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

[features]
tor = ["ln-gateway/tor"]

[[bin]]
name = "gateway-cli"
path = "src/main.rs"

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
axum = "0.7.5"
bitcoin = { workspace = true }
clap = { version = "4.5.15", features = [
  "derive",
  "std",
  "help",
  "usage",
  "error-context",
  "suggestions",
], default-features = false }
clap_complete = "4.5.14"
fedimint-core = { workspace = true }
fedimint-logging = { workspace = true }
fedimint-mint-client = { workspace = true }
ln-gateway = { version = "=0.5.0-alpha", default-features = false, package = "fedimint-ln-gateway", path = "../ln-gateway" }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tracing = { version = "0.1.40", default-features = false, features = [
  "log",
  "attributes",
  "std",
] }
url = { version = "2.5.2", features = ["serde"] }

[build-dependencies]
fedimint-build = { workspace = true }
