[package]
name = "fedimint-gateway-cli"
version = { workspace = true }
edition = "2021"
license = "MIT"
readme = "../../README.md"
description = "CLI tool to control lightning gateway"
repository = "https://github.com/fedimint/fedimint"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

[features]
default = ["tor"]
tor = ["ln-gateway/tor"]

[[bin]]
name = "gateway-cli"
path = "src/main.rs"

[dependencies]
anyhow = { workspace = true }
bitcoin = { workspace = true }
clap = { workspace = true }
clap_complete = "4.5.37"
fedimint-core = { workspace = true }
fedimint-logging = { workspace = true }
fedimint-mint-client = { workspace = true }
lightning-invoice = { workspace = true }
ln-gateway = { package = "fedimint-ln-gateway", path = "../ln-gateway", version = "=0.6.0-alpha", default-features = false }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }

[build-dependencies]
fedimint-build = { workspace = true }
