[package]
name = "fedimint-gateway-cli"
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
version = { workspace = true }
readme = { workspace = true }
description = "CLI tool to control lightning gateway"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

[features]
default = ["tor"]
tor = ["ln-gateway/tor"]

[[bin]]
name = "gateway-cli"
path = "src/main.rs"

[dependencies]
anyhow = { workspace = true }
bcrypt = { workspace = true }
bitcoin = { workspace = true }
clap = { workspace = true }
clap_complete = "4.5.42"
fedimint-core = { workspace = true }
fedimint-eventlog = { workspace = true }
fedimint-lightning = { package = "fedimint-lightning", path = "../fedimint-lightning", version = "=0.6.2-alpha" }
fedimint-logging = { workspace = true }
fedimint-mint-client = { workspace = true }
lightning-invoice = { workspace = true }
ln-gateway = { package = "fedimint-ln-gateway", path = "../ln-gateway", version = "=0.6.2-alpha" }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }

[build-dependencies]
fedimint-build = { workspace = true }
