[package]
name = "gateway-cli"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "gateway-cli"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.66"
async-trait = "0.1.64"
axum = "0.6.4"
axum-macros = "0.3.1"
bitcoin = { version = "0.29.2", features = ["serde"] }
clap = { version = "4.1.4", features = ["derive", "std", "help", "usage", "error-context", "suggestions"], default-features = false }
fedimint-server = { path = "../../fedimint-server/" }
ln-gateway = { path= "../ln-gateway" }
mint-client = { path = "../../client/client-lib" }
fedimint-api = { path = "../../fedimint-api" }
reqwest = { version = "0.11.14", features = [ "json" ], default-features = false }
rpassword = "7.2.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.91"
tokio = {version = "1.25", features = ["full"]}
tracing = { version = "0.1.37", default-features = false, features= ["log", "attributes", "std"] }
url = { version = "2.3.1", features = ["serde"] }

[build-dependencies]
fedimint-build = { path = "../../fedimint-build" }
