[package]
name = "fedimint-bitcoind"
version = "0.1.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "Bitcoin Core connectivity used by Fedimint"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "fedimint_bitcoind"
path = "src/lib.rs"

[features]
bitcoincore-rpc = [ "dep:bitcoincore-rpc", "dep:electrum-client" ]
default = []

[dependencies]
anyhow = "1.0.66"
bitcoin = "0.29.2"
bitcoin_hashes = "0.11.0"
bitcoincore-rpc = { version = "0.16.0" , optional = true }
electrum-client = { version = "0.12.0", optional = true }
async-trait = "*"
fedimint-core  = { path = "../fedimint-core" }
rand = "0.8"
serde = { version = "1.0.149", features = [ "derive" ] }
tracing = "0.1.37"
url = "2.3.1"
