[package]
name = "fedimint-bitcoind"
version = "0.3.4-rc.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "Bitcoin Core connectivity used by Fedimint"
license = "MIT"
readme = "../README.md"
repository = "https://github.com/fedimint/fedimint"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "fedimint_bitcoind"
path = "src/lib.rs"

[dependencies]
anyhow = "1.0.81"
async-trait = "0.1.77"
bitcoin = "0.29.2"
bitcoin_hashes = "0.11.0"
bitcoincore-rpc = { version = "0.16.0", optional = true }
electrum-client = {version = "0.12.1", optional = true }
esplora-client = { version = "0.5.0", default-features = false, features = ["async", "async-https-rustls"], optional = true }
lazy_static = "1.4.0"
fedimint-core  = { version = "=0.3.4-rc.0", path = "../fedimint-core" }
fedimint-logging = { version = "=0.3.4-rc.0", path = "../fedimint-logging" }
rand = "0.8"
serde = { version = "1.0.197", features = [ "derive" ] }
serde_json = "1.0.114"
tracing = "0.1.40"
url = "2.5.0"

[features]
default = ["bitcoincore-rpc", "electrum-client", "esplora-client"]
