[package]
name = "fedimint-bitcoind"
version = "0.1.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "Bitcoin Core connectivity used by Fedimint"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "fedimint_bitcoind"
path = "src/lib.rs"

[features]
bitcoincore-rpc = [ "dep:bitcoincore-rpc" ]
default = []

[dependencies]
anyhow = "1.0.65"
bitcoin = "0.29.2"
bitcoincore-rpc = {version = "0.16.0" , optional = true }
async-trait = "*"
fedimint-api  = { path = "../fedimint-api" }
rand = "0.8"
serde = { version = "1.0.145", features = [ "derive" ] }
tracing = "0.1.37"
thiserror = "1.0.37"
                   
