# See the .env file for config options

services:
  traefik:
    image: "traefik:v2.10"
    container_name: "traefik"
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "443:443"
    volumes:
      - "letsencrypt_data:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: unless-stopped
    networks:
      - fedimint_network

  bitcoin:
    image: "bitcoin/bitcoin:28.1"
    container_name: "bitcoin"
    volumes:
      - bitcoind_data:/home/bitcoin/.bitcoin
    ports:
      - "8333:8333"
    command:
      -printtoconsole
      -rpcallowip=172.20.0.0/16
      -rpcbind=172.20.0.10
      -rpcauth="${BITCOIND_RPC_AUTH}"
      -dbcache=2200
      -prune=550
      -maxmempool=5
      -par=2
      -rpcthreads=4
      -maxconnections=32
      -server=1
    restart: unless-stopped
    networks:
      fedimint_network:
        ipv4_address: 172.20.0.10

  fedimintd:
    image: ${FEDIMINTD_IMAGE}
    volumes:
      - fedimintd_data:/data
    ports:
      - 8173:8173/tcp # p2p tls
      - 8173:8173/udp # p2p iroh
      - 8174:8174/udp # api iroh
      - 127.0.0.1:8175:8175/tcp # ui
    environment:
      - FM_FORCE_BITCOIN_RPC_KIND=${FM_BITCOIN_RPC_KIND}
      - FM_FORCE_BITCOIN_RPC_URL=${FM_BITCOIN_RPC_URL}
      - FM_BITCOIN_NETWORK=bitcoin
      - FM_BIND_P2P=0.0.0.0:8173
      - FM_P2P_URL=fedimint://${FM_DOMAIN}:8173
      - FM_API_URL=wss://${FM_DOMAIN}/ws/
      - FM_BIND_API_WS=172.20.0.11:8174
      - FM_BIND_UI=172.20.0.11:8175
      - FM_REL_NOTES_ACK=0_4_xyz
    restart: always
    labels:
      - "traefik.enable=true"
      # API Service
      - "traefik.http.routers.fedimintd-api.rule=Host(`${FM_DOMAIN}`) && Path(`/ws/`)"
      - "traefik.http.routers.fedimintd-api.entrypoints=websecure"
      - "traefik.http.routers.fedimintd-api.tls.certresolver=myresolver"
      - "traefik.http.routers.fedimintd-api.service=fedimintd-api"
      - "traefik.http.services.fedimintd-api.loadbalancer.server.port=8174"
      # UI Service
      - "traefik.http.routers.fedimintd-ui.rule=Host(`${FM_DOMAIN}`)"
      - "traefik.http.routers.fedimintd-ui.entrypoints=websecure"
      - "traefik.http.routers.fedimintd-ui.tls.certresolver=myresolver"
      - "traefik.http.routers.fedimintd-ui.service=fedimintd-ui"
      - "traefik.http.services.fedimintd-ui.loadbalancer.server.port=8175"
    networks:
      fedimint_network:
        ipv4_address: 172.20.0.11

networks:
  fedimint_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
          gateway: 172.20.0.1

volumes:
  bitcoind_data:
  letsencrypt_data:
  fedimintd_data:
