[package]
name = "fedimint-core"
version = "0.3.0-alpha"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-core provides common code used by both client and server."
license = "MIT"
repository = "https://github.com/fedimint/fedimint"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "fedimint_core"
path = "src/lib.rs"

[dependencies]
async-recursion = "1.0.4"
anyhow = "1.0.65"
async-trait = "0.1.73"
futures = "0.3.24"
backtrace = "0.3.67"
bincode = "1.3.1"
bech32 = "0.9.1"
itertools = "0.10.5"
jsonrpsee-types = { version = "0.21.0" }
jsonrpsee-core = { version = "0.21.0", features = [ "client" ] }
serde = { version = "1.0.149", features = [ "derive" ] }
serde_json = "1.0.91"
strum = "0.24"
strum_macros = "0.24"
hex = { version = "0.4.3", features = [ "serde"] }
sha3 = "0.10.5"
tbs = { package = "fedimint-tbs", version = "0.3.0-alpha", path = "../crypto/tbs" }
tokio = { version = "1.26.0", features = ["sync", "io-util"] }
thiserror = "1.0.39"
tracing ="0.1.37"
threshold_crypto = { workspace = true }
url = { version = "2.3.1", features = ["serde"] }
bitcoin = { version = "0.29.2", features = [ "rand", "serde" ] }
bitcoin30 = { package = "bitcoin", version = "0.30.0" }
bitcoin_hashes = { version = "0.11", features = ["serde"] }
erased-serde = "0.3"
lightning = "0.0.118"
lightning-invoice = "0.26.0"
fedimint-derive = { version = "0.3.0-alpha", path = "../fedimint-derive" }
fedimint-logging = { version = "0.3.0-alpha", path = "../fedimint-logging" }
rand = "0.8.5"
miniscript = { version = "9.0.2", features = [ "compiler", "serde" ] }
secp256k1-zkp = { version = "0.7.0", features = [ "use-serde", "bitcoin_hashes", "global-context" ] }
macro_rules_attribute = "0.1.3"
bitvec = "1.0.1"
parity-scale-codec = { version = "3.5.0", features = ["derive"] }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
jsonrpsee-ws-client = { version = "0.21.0", features = ["webpki-tls"], default-features = false }
tokio = { version = "1.25.0", features = ["full", "tracing"] }
tokio-rustls = "0.23.4"

[target.'cfg(target_family = "wasm")'.dependencies]
jsonrpsee-wasm-client = { version = "0.21.0", default-features = false }
async-lock = "2.7"
# getrandom is transitive dependency of rand
# on wasm, we need to enable the js backend
# see https://docs.rs/getrandom/latest/getrandom/#indirect-dependencies and https://docs.rs/getrandom/latest/getrandom/#webassembly-support
getrandom = { version = "0.2.8", features = [ "js" ] }
gloo-timers = { version = "0.2.6", features = ["futures"] }
wasm-bindgen-futures = "0.4.33"
js-sys = "0.3.61"

[dev-dependencies]
test-log = { version = "0.2", features = [ "trace" ], default-features = false }
once_cell = "1.16.0"
tracing-subscriber = { version = "0.3.16", features = [ "env-filter" ] }
