[package]
name = "fedimint-core"
version = "0.1.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-core provides common code used by both client and server. Can't be in fedimint-api because it depends on modules."
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "fedimint_core"
path = "src/lib.rs"

[dependencies]
async-trait = "0.1.42"
futures = "0.3.9"
bincode = "1.3.1"
bitcoin = "0.28.1"
hex = "0.4.2"
itertools = "0.10.0"
fedimint-api = { path = "../fedimint-api" }
fedimint-derive = { path = "../fedimint-derive" }
fedimint-ln = { path = "../modules/fedimint-ln" }
fedimint-mint = { path = "../modules/fedimint-mint" }
fedimint-wallet = { path = "../modules/fedimint-wallet", default-features = false }
rand = "0.6.5"
secp256k1-zkp = { version = "0.6.0", features = [ "global-context", "bitcoin_hashes" ] }
serde = { version = "1.0.118", features = [ "derive" ] }
serde_json = "1.0.85"
sha3 = "0.10.4"
tbs = { path = "../crypto/tbs" }
thiserror = "1.0.23"
tracing ="0.1.22"
threshold_crypto = { git = "https://github.com/fedimint/threshold_crypto" }
bitcoin_hashes = "0.10.0"
url = { version = "2.2.2", features = ["serde"] }

