[package]
name = "fedimint-server"
version = "0.1.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint is the main consensus code for processing transactions and REST API"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "fedimint_server"
path = "src/lib.rs"

[dependencies]
anyhow = "1.0.65"
async-trait = "0.1.42"
bincode = "1.3.1"
bitcoin = "0.28.1"
bytes = "1.1.0"
clap = { version = "3.2.22", features = ["derive"] }
futures = "0.3.9"
hbbft = { git = "https://github.com/fedimint/hbbft" }
hex = "0.4.2"
itertools = "0.10.5"
jsonrpsee = { version = "0.15.1", features = ["ws-server"] }
mint-client = { path = "../client/client-lib" }
fedimint-api = { path = "../fedimint-api" }
fedimint-core = { path = "../fedimint-core" }
fedimint-derive = { path = "../fedimint-derive" }
fedimint-wallet = { path = "../modules/fedimint-wallet", features = ["native"] }
rand = "0.6.5"
rayon = "1.5.0"
rcgen = "0.9.2"
secp256k1-zkp = { version = "0.6.0", features = [ "global-context", "bitcoin_hashes" ] }
serde = { version = "1.0.145", features = [ "derive" ] }
serde_json = "1.0.85"
sha3 = "0.10.5"
tbs = { path = "../crypto/tbs" }
thiserror = "1.0.23"
tokio = { version = "1.21.1", features = ["full"] }
tokio-rustls = "0.23.4"
tokio-util = { version = "0.7.4", features = [ "codec" ] }
tracing ="0.1.22"
threshold_crypto = { git = "https://github.com/fedimint/threshold_crypto" }
url = { version = "2.3.1", features = ["serde"] }

[dev-dependencies]
tracing-subscriber = { version = "0.3.1", features = [ "env-filter" ] }

[build-dependencies]
fedimint-build = { path = "../fedimint-build" }

