[package]
name = "fedimint-mint-client"
version = "0.1.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-mint is a chaumian ecash mint module."
license = "MIT"

[lib]
name = "fedimint_mint_client"
path = "src/lib.rs"

[dependencies]
fedimint-api = { path = "../../fedimint-api" }
fedimint-mint-common = { path = "../mint-common/" }
tracing ="0.1.37"
tbs = { path = "../../crypto/tbs/" }
serde = "*"
