[package]
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
name = "fedimint-fuzz"
publish = false
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata]
cargo-fuzz = true

[[bin]]
name = "vec"
path = "src/bin/vec.rs"

# cargo-deny just needs at least one `bin` defined
[lib]
name = "fedimint_fuzz"
path = "src/lib.rs"

[dependencies]
fedimint-core = { workspace = true }
fedimint-ln-common = { workspace = true }
fedimint-lnv2-common = { workspace = true }
fedimint-meta-common = { workspace = true }
fedimint-mint-common = { workspace = true }
fedimint-wallet-common = { workspace = true }
honggfuzz = { workspace = true }

[lints]
workspace = true
