{% extends "base.html" %}

{% block title %} Fedimint {% endblock %}

{% block content %}
<div class="mt-5 text-center ">
  <div>
    <a href="/dealer" class="btn btn-primary m-2" id="dealer">Create a Federation</a>
  </div>
  <div>
    <a href="/player" class="btn btn-primary m-2" id="player">Join a Federation</a>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  const dealer = document.querySelector("#dealer");
  dealer.addEventListener("click", function (e) {
    location.href = "/dealer";
  });
  const player = document.querySelector("#player");
  player.addEventListener("click", function (e) {
    location.href = "/player";
  });
</script>
{% endblock %}
