[package]
name = "fedimint-load-test-tool"
version = { workspace = true }
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-load-test-tool is a tool to load test the fedimint server and gateway."
license = "MIT"
publish = false

[[bin]]
name = "fedimint-load-test-tool"
path = "src/main.rs"

[dependencies]
anyhow = { workspace = true }
base64 = "0.22.1"
bitcoin = { workspace = true }
clap = { workspace = true }
devimint = { version = "=0.4.0-alpha", path = "../devimint" }
fedimint-api-client = { workspace = true }
fedimint-client = { workspace = true }
fedimint-core = { workspace = true }
fedimint-ln-client = { workspace = true }
fedimint-ln-common = { path = "../modules/fedimint-ln-common" }
fedimint-logging = { workspace = true }
fedimint-mint-client = { version = "=0.4.0-alpha", path = "../modules/fedimint-mint-client" }
fedimint-rocksdb = { version = "=0.4.0-alpha", path = "../fedimint-rocksdb" }
fedimint-wallet-client = { version = "=0.4.0-alpha", path = "../modules/fedimint-wallet-client" }
futures = { workspace = true }
jsonrpsee-core = { version = "0.23.2", features = ["client"] }
jsonrpsee-types = "0.23.0"
lightning-invoice = { workspace = true }
rand = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { version = "1", features = ["full", "tracing"] }
tracing = { workspace = true }
url = { version = "2.5.2", features = ["serde"] }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
jsonrpsee-ws-client = { version = "0.23.2", default-features = false }

[build-dependencies]
fedimint-build = { version = "=0.4.0-alpha", path = "../fedimint-build" }
