[package]
name = "fedimint-logging"
version = { workspace = true }
authors = ["The Fedimint Developers"]
edition = "2021"
description = "contains some utilities for logging and tracing"
license = "MIT"
readme = "../README.md"
repository = "https://github.com/fedimint/fedimint"

[features]
telemetry = [
    "tracing-opentelemetry",
    "opentelemetry-jaeger",
    "console-subscriber",
    "opentelemetry",
]

[lib]
name = "fedimint_logging"
path = "src/lib.rs"

[dependencies]
anyhow = { workspace = true }
console-subscriber = { version = "0.4.0", optional = true }
opentelemetry = { version = "0.25.0", optional = true }
opentelemetry-jaeger = { version = "0.22.0", optional = true }
tracing-opentelemetry = { version = "0.26.0", optional = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
