{% extends "base.html" %}

{% block title %} Fedimint {% endblock %}

{% block content %}
<div class="container text-center mt-5 p-3">
    <br>
    <h1 class="mt-3">Let's set up your federation.</h1>
    <br>
    <h4>Open-source community banking is just a few clicks away.</h4>
    <br>
    <div class="mt-2">
        <a href="/federation_params" class="btn btn-primary" id="params_page"> Get Started</a>
    </div>
    <div>
        <a href="https://fedimint.org/docs/intro" class="btn btn-secondary m-1" id="docs">Learn More</a>
    </div>
</div>

{% endblock %}
