{% extends "base.html" %}

{% block title %} Fedimint {% endblock %}
{% block head %}
{% if !has_connection_string %}
 <meta http-equiv="refresh" content="5" />
{% endif %}
{% endblock %}

{% block content %}
<div class="container text-center mt-5 p-3">
{% if has_connection_string %}
    <img src="/qr" alt="federation qr code" width="200" height="200" />
    <div class="input-group mb-3 mt-3">
        <input id="connection-string" type="text" class="form-control" value="{{ connection_string }}"
            aria-label="Connection String" readonly>
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="copy-button">Copy</button>
        </div>
    </div>
{% else %}
    <div>Starting ...</div>
{% endif %}
</div>

{% endblock %}
