services:
  gatewayd:
    image: fedimint/gatewayd:v0.10.0
    entrypoint: /data/entrypoint.sh
    restart: unless-stopped
    ports:
      - 8176:8176/tcp # ui
      - 8177:8177/udp # iroh
      - 10010:10010/tcp # lightning
    volumes:
      - gatewayd_data:/data
      - ./entrypoint.sh:/data/entrypoint.sh:ro
    environment:
      # Gateway Config
      FM_GATEWAY_DATA_DIR: /data
      FM_GATEWAY_LISTEN_ADDR: 0.0.0.0:8176
      FM_GATEWAY_NETWORK: bitcoin
      FM_GATEWAY_IROH_LISTEN_ADDR: 0.0.0.0:8177

      # REQUIRED: Set this password
      APP_PASSWORD: ""

      # Esplora Config (comment out to disable esplora)
      FM_ESPLORA_URL: https://mempool.space/api/

      # LDK Config
      FM_PORT_LDK: 10010
      FM_LDK_ALIAS: "Fedimint LDK Gateway"

      # Bitcoind config (uncomment to use your own bitcoin node, comment out the esplora config)
      #FM_BITCOIND_URL: http://<replace-me>
      #FM_BITCOIND_USERNAME: <replace-me>
      #FM_BITCOIND_PASSWORD: '<replace-me>'

      # LND Config (uncomment to use your own LND node, comment out the LDK config)
      #FM_LND_RPC_ADDR: "http://<replace-me>:<replace-me>"
      #FM_LND_TLS_CERT: "<replace-me>"
      #FM_LND_MACAROON: "<replace-me>"

volumes:
  gatewayd_data:
