[package]
name = "fedimint-metrics"
version = "0.3.0-alpha"
edition = "2021"
license = "MIT"

[lib]
name = "fedimint_metrics"
path = "./src/lib.rs"

[dependencies]
anyhow = { version = "1.0.71", features = ["backtrace"] }
axum = "0.6.18"
fedimint-core = { path = "../fedimint-core" }
lazy_static = "1.4.0"
prometheus = "0.13.3"
tokio = "1"
tracing = "0.1.37"
