[package]
name = "fedimint-metrics"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
readme = { workspace = true }
description = "fedimint-metrics allows exporting prometheus metrics from Fedimint."
repository = { workspace = true }

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

[lib]
name = "fedimint_metrics"
path = "./src/lib.rs"

[dependencies]
anyhow = { workspace = true, features = ["backtrace"] }
axum = { workspace = true }
fedimint-core = { workspace = true }
prometheus = "0.13.4"
tokio = { workspace = true }
tracing = { workspace = true }
