[package]
name = "fedimint-rocksdb"
version = "0.3.4-rc.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-rocksdb provides a rocksdb-backed database implementation for Fedimint."
license = "MIT"
readme = "../README.md"
repository = "https://github.com/fedimint/fedimint"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

[lib]
name = "fedimint_rocksdb"
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.81"
async-trait = "0.1.77"
fedimint-core = { version = "=0.3.4-rc.0", path = "../fedimint-core" }
futures = "0.3.30"
rocksdb = { version = "0.22.0" }
tracing = "0.1.40"

[dev-dependencies]
tempfile = "3.10.1"
tracing-subscriber = { version = "0.3.18", features = [ "env-filter" ] }

[target.'cfg(not(target_family="wasm"))'.dependencies]
tokio = { version = "1.36.0", features = ["rt", "rt-multi-thread", "sync", "time"] }
