[package]
name = "fedimint-rocksdb"
version = { workspace = true }
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-rocksdb provides a rocksdb-backed database implementation for Fedimint."
license = "MIT"
readme = "../README.md"
repository = "https://github.com/fedimint/fedimint"

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

[lib]
name = "fedimint_rocksdb"
path = "src/lib.rs"

[[bench]]
name = "db_access"
harness = false

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
fedimint-core = { workspace = true }
futures = { workspace = true }
rocksdb = { version = "0.22.0" }
tracing = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
tempfile = "3.12.0"

[target.'cfg(not(target_family="wasm"))'.dependencies]
tokio = { workspace = true, features = ["rt", "rt-multi-thread", "sync", "time"] }
