[package]
name = "fedimintd"
version = "0.1.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint is the main consensus code for processing transactions and REST API"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]

[[bin]]
name = "fedimintd"
path = "src/bin/main.rs"

[[bin]]
name = "distributedgen"
path  = "src/bin/distributedgen.rs"

[dependencies]
aead = { path = "../crypto/aead" }
ring = "0.16.20"
rpassword = "7.2.0"
anyhow = "1.0.66"
async-trait = "0.1.64"
bincode = "1.3.1"
bitcoin = "0.29.2"
bytes = "1.4.0"
hbbft = { git = "https://github.com/jkitman/hbbft", branch = "upgrade-threshold-crypto-libs" }
clap = { version = "4.1.4", features = ["derive", "std", "help", "usage", "error-context", "suggestions", "env"], default-features = false }
futures = "0.3.24"
itertools = "0.10.5"
jsonrpsee = { version = "0.16.2", features = ["server"] }
mint-client = { path = "../client/client-lib" }
fedimint-api = { path = "../fedimint-api" }
fedimint-core = { path = "../fedimint-core" }
fedimint-rocksdb = { path = "../fedimint-rocksdb" }
fedimint-server = { path = "../fedimint-server" }
fedimint-wallet = { path = "../modules/fedimint-wallet", features = ["native"] }
fedimint-mint= { path = "../modules/fedimint-mint" }
fedimint-ln = { path = "../modules/fedimint-ln" }
opentelemetry = { version = "0.18.0", optional = true }
opentelemetry-jaeger = { version = "0.17.0", optional = true }
rand = "0.8"
rayon = "1.6.1"
rcgen = "=0.10.0"
secp256k1-zkp = { version = "0.7.0", features = [ "global-context", "bitcoin_hashes" ] }
serde = { version = "1.0.149", features = [ "derive" ] }
serde_json = "1.0.91"
sha3 = "0.10.5"
tbs = { path = "../crypto/tbs" }
thiserror = "1.0.37"
tokio = { version = "1.25.0", features = ["full", "tracing"] }
tokio-rustls = "0.23.4"
tokio-util = { version = "0.7.4", features = [ "codec" ] }
tracing ="0.1.37"
tracing-subscriber = { version = "0.3.16", features = [ "env-filter" ] }
tracing-opentelemetry = { version = "0.18.0", optional = true}
url = { version = "2.3.1", features = ["serde"] }
threshold_crypto = { git = "https://github.com/jkitman/threshold_crypto", branch = "upgrade-threshold-crypto-libs" }

# setup dependencies
askama = "0.11.1"
askama_axum = "0.2.1"
axum = { version = "0.6.4", default-features = false, features = [ "form", "tokio" ] }
axum-macros = "0.3.1"
http = "0.2"
http-body = "0.4"
hyper = { version = "0.14", features = ["full"] }
tower = { version = "0.4", features = ["util"] }
qrcode-generator = "4.1.7"
console-subscriber = "0.1.8"

[build-dependencies]
fedimint-build = { path = "../fedimint-build" }
