[package]
description = "fedimintd daemon for Fedimint"
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
name = "fedimintd"
readme = { workspace = true }
repository = { workspace = true }
version = { workspace = true }

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

[[bin]]
name = "fedimintd"
path = "src/bin/main.rs"

[lib]
name = "fedimintd"
path = "src/lib.rs"

[dependencies]
anyhow = { workspace = true }
bitcoin = { workspace = true }
clap = { workspace = true }
fedimint-core = { workspace = true }
fedimint-ln-common = { workspace = true }
fedimint-ln-server = { workspace = true }
fedimint-lnv2-common = { workspace = true }
fedimint-lnv2-server = { workspace = true }
fedimint-logging = { workspace = true, features = ["telemetry"] }
fedimint-meta-server = { workspace = true }
fedimint-metrics = { workspace = true }
fedimint-mint-common = { workspace = true }
fedimint-mint-server = { workspace = true }
fedimint-rocksdb = { workspace = true }
fedimint-server = { workspace = true }
fedimint-server-bitcoin-rpc = { workspace = true }
fedimint-server-core = { workspace = true }
fedimint-server-ui = { workspace = true }
fedimint-unknown-common = { workspace = true }
fedimint-unknown-server = { workspace = true }
fedimint-wallet-server = { workspace = true }
fedimint-walletv2-common = { workspace = true }
fedimint-walletv2-server = { workspace = true }
fedimintd-envs = { workspace = true }
futures = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[target.'cfg(not(any(target_env = "msvc", target_os = "ios", target_os = "android")))'.dependencies]
tikv-jemallocator = { workspace = true }

[build-dependencies]
fedimint-build = { workspace = true }

[lints]
workspace = true
