@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@media (min-width: 601px) {
	.icon-menu {
		display: none;
	}
}

@media (max-width: 600px) {
	.button-menu {
		display: none;
	}
	.icon-menu {
		display: block;
	}
}

@media (max-width: 600px) {
	.connect-ln {
		display: flex;
		flex-direction: column !important;
		align-items: flex-start !important;
	}
}
