[package]
name = "fedimint-lnv2-client"
version = "0.4.0-alpha"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-ln is a lightning payment service module."
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package.metadata.cargo-udeps.ignore]
# cargo udeps can't detect that one
normal = ["aquamarine"]

[lib]
name = "fedimint_lnv2_client"
path = "src/lib.rs"

[features]
default =[]
cli = ["dep:clap", "dep:serde_json"]

[dependencies]
anyhow = "1.0.85"
async-trait = "0.1.80"
async-stream = "0.3.5"
aquamarine = "0.5.0"
bitcoin = { workspace = true }
clap = { workspace = true, optional = true }
erased-serde = { workspace = true }
futures = "0.3.24"
lightning-invoice = { version = "0.30.0", features = [ "serde" ] }
fedimint-client = { path = "../../fedimint-client" }
fedimint-core = { workspace = true }
fedimint-api-client = { workspace = true }
fedimint-lnv2-common ={ path = "../fedimint-lnv2-common" }
secp256k1 = { version="0.27.0", default-features=false }
serde = { workspace = true }
serde_json = { workspace = true, optional = true }
thiserror = "1.0.61"
tracing = "0.1.37"
rand = { workspace = true }
tpe = { package = "fedimint-tpe", version = "=0.4.0-alpha", path = "../../crypto/tpe" }
reqwest = { version = "0.11.14", features = [ "json", "rustls-tls" ], default-features = false }
