[package]
name = "fedimint-tbs"
version = { workspace = true }
authors = ["The Fedimint Developers"]
edition = "2021"
description = "tbs is a helper cryptography library for threshold blind signatures"
license = "MIT"
readme = "../../README.md"
repository = "https://github.com/fedimint/fedimint"

[features]
default = []
unstable = []

[lib]
name = "tbs"
path = "src/lib.rs"

[[bench]]
name = "tbs"
harness = false

[dependencies]
bls12_381 = { workspace = true }
fedimint-core = { workspace = true }
group = { workspace = true }
hex = { workspace = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
serde = { workspace = true }
sha3 = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
