[package]
name = "fedimint-testing"
version = "0.1.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-testing provides a library of shared objects and utilities for testing fedimint components"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "fedimint_testing"
path = "src/lib.rs"


[dependencies]
anyhow = "1.0.65"
async-stream = "0.3.5"
async-trait = "*"
bitcoin = "0.29.2"
bitcoincore-rpc = "0.16.0"
clap = { version = "4.1.6", features = ["derive", "std", "help", "usage", "error-context", "suggestions" ], default-features = false }
cln-rpc = "0.1.1"
fedimint-core  = { path = "../fedimint-core" }
fedimint-client  = { path = "../fedimint-client" }
fedimint-server  = { path = "../fedimint-server" }
fedimint-bitcoind = { path = "../fedimint-bitcoind" }
fedimint-logging = { path = "../fedimint-logging" }
fedimint-rocksdb = { path = "../fedimint-rocksdb" }
lazy_static = "1.4.0"
ln-gateway = { path = "../gateway/ln-gateway" }
ldk-node = { git = "https://github.com/lightningdevkit/ldk-node", rev = "5029b2f88642864ed32835a31c1fa8b1405129dd" }
futures = "0.3"
lightning = "0.0.113"
lightning-invoice = "0.21.0"
tempfile = "3.4.0"
secp256k1 = "0.24.2"
secp256k1-zkp = { version = "0.7.0", features = [ "global-context", "bitcoin_hashes" ] }
serde = { version = "1.0.149", features = [ "derive" ] }
tracing ="0.1.37"
rand = "0.8"
tokio-rustls = "0.23.4"
tokio = { version = "1.26.0", features = ["full"] }
tokio-stream = "0.1.11"
tonic_lnd = { workspace = true }
url = "2.3.1"
fedimint-portalloc = { path = "../utils/portalloc" }
