[package]
name = "fedimint-testing"
version = "0.1.0"
authors = ["The Fedimint Developers"]
edition = "2021"
description = "fedimint-testing provides a library of shared objects and utilities for testing fedimint components"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "fedimint_testing"
path = "src/lib.rs"


[dependencies]
anyhow = "1.0.65"
async-trait = "*"
bitcoin = "0.29.2"
bitcoincore-rpc = "0.16.0"
mint-client = { path = "../client/client-lib" }
fedimint-core  = { path = "../fedimint-core" }
fedimint-bitcoind = { path = "../fedimint-bitcoind" }
fedimint-ln-client = { path = "../modules/fedimint-ln-client" }
fedimint-logging = { path = "../fedimint-logging" }
fedimint-server = { path = "../fedimint-server" }
fedimint-wallet-client = { path = "../modules/fedimint-wallet-client" }
fedimint-rocksdb = { path = "../fedimint-rocksdb" }
ln-gateway = { path = "../gateway/ln-gateway" }
futures = "0.3"
lightning = "0.0.113"
lightning-invoice = "0.21.0"
tempfile = "3.3.0"
secp256k1-zkp = { version = "0.7.0", features = [ "global-context", "bitcoin_hashes" ] }
serde = "1.0.149"
serde_json = "1.0.91"
tracing ="0.1.37"
rand = "0.8"
tokio = { version = "1.26.0", features = ["full"] }
url = "2.3.1"
