[package]
name = "fedimint-testing"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = "fedimint-testing provides a library of shared objects and utilities for testing fedimint components"
license = { workspace = true }
readme = { workspace = true }
repository = { workspace = true }

[package.metadata.docs.rs]
rustc-args = ["--cfg", "tokio_unstable"]

[features]
tor = ["fedimint-gateway-server/tor", "fedimint-gateway-common/tor"]

[lib]
name = "fedimint_testing"
path = "src/lib.rs"

[dependencies]
anyhow = { workspace = true }
async-stream = { workspace = true }
async-trait = { workspace = true }
bcrypt = { workspace = true }
bitcoin = { workspace = true }
bitcoincore-rpc = { workspace = true }
fedimint-api-client = { workspace = true }
fedimint-bitcoind = { workspace = true }
fedimint-client = { workspace = true }
fedimint-client-module = { workspace = true }
fedimint-core = { workspace = true }
fedimint-gateway-common = { workspace = true }
fedimint-gateway-server = { workspace = true }
fedimint-lightning = { workspace = true }
fedimint-ln-common = { workspace = true }
fedimint-logging = { workspace = true }
fedimint-portalloc = { workspace = true }
fedimint-rocksdb = { workspace = true }
fedimint-server = { workspace = true }
fedimint-server-bitcoin-rpc = { workspace = true }
fedimint-server-core = { workspace = true }
fedimint-testing-core = { workspace = true }
fs-lock = { workspace = true }
lightning-invoice = { workspace = true }
rand = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true }
tokio-rustls = { workspace = true }
tracing = { workspace = true }
