# This is a basic workflow to help you get started with Actions

name: "CI (nix)"

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main", "master", "devel" ]
  pull_request:
    branches: [ "main", "master", "devel" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-22.05
      - uses: cachix/cachix-action@v12
        with:
          name: fedimint
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        continue-on-error: true

      # run the same check that git `pre-commit` hook would, just in case
      - name: Commit check
        run: nix develop --ignore-environment .#lint --command ./misc/git-hooks/pre-commit

      - name: Check udeps
        run: nix build -L .#ci.workspaceCargoUdeps

  build:
    strategy:
      matrix:
        host:
          - linux
          - macos
        include:
          - on: linux
            runs-on: buildjet-8vcpu-ubuntu-2004
            build-in-pr: true
            timeout: 20
            run-tests: true
          - host: macos
            runs-on: macos-12
            build-in-pr: false
            # TODO: Too slow; see https://github.com/actions/runner-images/issues/1336
            timeout: 60
            run-tests: false
    name: "Build on ${{ matrix.host }}"
    runs-on: ${{ matrix.runs-on }}
    timeout-minutes: ${{ matrix.timeout }}

    steps:
      - uses: actions/checkout@v3
        if: github.ref == 'refs/heads/master' || matrix.build-in-pr

      - uses: cachix/install-nix-action@v22
        if: github.ref == 'refs/heads/master' || matrix.build-in-pr
        with:
          nix_path: nixpkgs=channel:nixos-22.05
      - uses: cachix/cachix-action@v12
        if: github.ref == 'refs/heads/master' || matrix.build-in-pr
        with:
          name: fedimint
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        continue-on-error: true

      - name: Build workspace
        if: github.ref == 'refs/heads/master' || matrix.build-in-pr
        run: nix build -L .#ci.workspaceBuild

      - name: Clippy workspace
        if: github.ref == 'refs/heads/master' || matrix.build-in-pr
        run: nix build -L .#ci.workspaceClippy

      - name: Run cargo doc
        if: github.ref == 'refs/heads/master' || matrix.build-in-pr
        run: nix build -L .#ci.workspaceDoc

      - name: Test docs
        if: github.ref == 'refs/heads/master' || matrix.build-in-pr
        run: nix build -L .#ci.workspaceTestDoc

      - name: Tests
        if: (github.ref == 'refs/heads/master' || matrix.build-in-pr) && matrix.run-tests
        run: nix build -L .#ci.cli-test.all

      - name: Wasm Tests
        if: (github.ref == 'refs/heads/master' || matrix.build-in-pr) && matrix.run-tests
        run: nix build -L .#ci.wasm-tests

  audit:
    name: "Audit"
    runs-on: buildjet-2vcpu-ubuntu-2004
    timeout-minutes: 10
    # sometimes we can't fix these immediately, yet
    # we don't want to stop the world because of it
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-22.05
      - uses: cachix/cachix-action@v12
        with:
          name: fedimint
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Run cargo audit
        run: |
          nix flake lock --update-input advisory-db
          nix build -L .#ci.workspaceAudit

  # Code Coverage will build using a completely different profile (neither debug/release)
  # Which means we can not reuse much from `build` job. Might as well run it as another
  # build in parallel
  ccov:
    name: "Code coverage"
    runs-on: buildjet-8vcpu-ubuntu-2004
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-22.05
      - uses: cachix/cachix-action@v12
        with:
          name: fedimint
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        continue-on-error: true

      - name: Validate codecov.yaml configuration
        run: nix run nixpkgs#curl -- --fail-with-body -X POST --data-binary @.codecov.yml https://codecov.io/validate

      - name: Build and run tests with Code Coverage
        run: nix build -L .#ci.workspaceCov

      - name: Ensure lcov.info exists
        run: test -f result/lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: result/lcov.info

  cross:
    name: "Cross-compile on ${{ matrix.host }} to ${{ matrix.target}}"

    strategy:
      matrix:
        host:
          - linux
          - macos
        target:
          - aarch64-linux-android
          - armv7-linux-androideabi
          - x86_64-linux-android
          - i686-linux-android
          - wasm32-unknown-unknown
        include:
          - host: linux
            runs-on: ubuntu-22.04
            build-in-pr: true
            timeout: 20
          - host: macos
            runs-on: macos-12
            build-in-pr: false
            # TODO: Too slow; see https://github.com/actions/runner-images/issues/1336
            timeout: 60
        exclude:
            # there's not enough macos runners available for our CI, so test only the more important cross-compilation targets
            # if they work, rest probably works as well
          - host: macos
            target: armv7-linux-androideabi
          - host: macos
            target: i686-linux-android
          - host: macos
            target: x86_64-linux-android



    runs-on: ${{ matrix.runs-on }}
    timeout-minutes: ${{ matrix.timeout }}

    steps:
      - uses: actions/checkout@v3
        if: github.ref == 'refs/heads/master' || matrix.build-in-pr

      - uses: cachix/install-nix-action@v22
        if: github.ref == 'refs/heads/master' || matrix.build-in-pr
        with:
          nix_path: nixpkgs=channel:nixos-22.05

      - uses: cachix/cachix-action@v12
        if: github.ref == 'refs/heads/master' || matrix.build-in-pr
        with:
          name: fedimint
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        continue-on-error: true

      - name: Build client packages for ${{ matrix.target }}
        if: github.ref == 'refs/heads/master' || matrix.build-in-pr
        run: nix build -L .#cross.${{ matrix.target }}.client-pkgs

  containers:
    name: "Containers"
    runs-on: buildjet-8vcpu-ubuntu-2004
    timeout-minutes: 30
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Prepare
        uses: ./.github/actions/prepare
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-22.05
      - uses: cachix/cachix-action@v12
        with:
          name: fedimint
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        continue-on-error: true

      - name: Build fedimintd container
        run: |
          nix build -L .#container.fedimintd
          echo "fedimintd_container_tag=$(docker load < result | awk '{ print $3 }')" >> $GITHUB_ENV

      - name: Build fedimint-cli container
        run: |
          nix build -L .#container.fedimint-cli
          echo "fedimint_cli_container_tag=$(docker load < result | awk '{ print $3 }')" >> $GITHUB_ENV

      - name: Build gatewayd container
        run: |
          nix build -L .#container.gatewayd
          echo "gatewayd_container_tag=$(docker load < result | awk '{ print $3 }')" >> $GITHUB_ENV

      - name: Build gateway-cli container
        run: |
          nix build -L .#container.gateway-cli
          echo "gateway-cli_container_tag=$(docker load < result | awk '{ print $3 }')" >> $GITHUB_ENV

      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/kody-setup-rebase'
        uses: docker/login-action@v2
        with:
          username: fedimint
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Publish
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/kody-setup-rebase'
        run: |
          nix_tag=${{ env.fedimintd_container_tag }} && hub_tag="fedimint/fedimintd:${LAST_COMMIT_SHA}" && docker tag "$nix_tag" "$hub_tag" && docker push "$hub_tag"
          nix_tag=${{ env.fedimint_cli_container_tag }} && hub_tag="fedimint/fedimint-cli:${LAST_COMMIT_SHA}" && docker tag "$nix_tag" "$hub_tag" && docker push "$hub_tag"
          nix_tag=${{ env.gatewayd_container_tag }} && hub_tag="fedimint/gatewayd:${LAST_COMMIT_SHA}" && docker tag "$nix_tag" "$hub_tag" && docker push "$hub_tag"
          nix_tag=${{ env.gateway-cli_container_tag }} && hub_tag="fedimint/gateway-cli:${LAST_COMMIT_SHA}" && docker tag "$nix_tag" "$hub_tag" && docker push "$hub_tag"

      - name: Publish master tag
        if: github.ref == 'refs/heads/master'
        run: |
          nix_tag=${{ env.fedimintd_container_tag }} && hub_tag="fedimint/fedimintd:master" && docker tag "$nix_tag" "$hub_tag" && docker push "$hub_tag"
          nix_tag=${{ env.fedimint_cli_container_tag }} && hub_tag="fedimint/fedimint-cli:master" && docker tag "$nix_tag" "$hub_tag" && docker push "$hub_tag"
          nix_tag=${{ env.gatewayd_container_tag }} && hub_tag="fedimint/gatewayd:master" && docker tag "$nix_tag" "$hub_tag" && docker push "$hub_tag"
          nix_tag=${{ env.gateway-cli_container_tag }} && hub_tag="fedimint/gateway-cli:master" && docker tag "$nix_tag" "$hub_tag" && docker push "$hub_tag"

  pkgs:
    if: github.ref == 'refs/heads/master'
    name: "Release packages: ${{ matrix.build.pkg }}"

    strategy:
      matrix:
        build:
          - pkg: client-pkgs
            bin: fedimint-cli
          - pkg: fedimint-pkgs
            bin: fedimintd
          - pkg: gateway-pkgs
            bin: gateway-cli

    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-22.05
      - uses: cachix/cachix-action@v12
        with:
          name: fedimint
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        continue-on-error: true

      - name: Build ${{ matrix.build.pkg }}
        run: nix build -L .#${{ matrix.build.pkg }}

      - name: Check version ${{ matrix.build.bin }}
        run: nix run .#${{ matrix.build.bin }} version-hash && echo "$GITHUB_SHA" && test "$(nix run .#${{ matrix.build.bin }} version-hash)" = "${GITHUB_SHA}"

      - name: Check sha256sum ${{ matrix.build.bin }}
        run: nix build .#${{ matrix.build.bin }} && sha256sum "./result/bin/${{ matrix.build.bin }}"

      - name: Upload bin artifact
        uses: actions/upload-artifact@v3
        with: 
          name: ${{ matrix.build.bin }}
          path: "./result/bin/${{ matrix.build.bin }}" 

  notifications:
    # if: github.ref == 'refs/heads/master'
    if: always()
    name: "Notifications"
    timeout-minutes: 1
    runs-on: ubuntu-22.04
    # note: we don't depend on `audit` because it will
    # be often broken, and we can't fix it immediately
    needs: [ build, cross, ccov, containers, pkgs ]

    steps:
    - name: Discord notifications on failure
      # https://stackoverflow.com/a/74562058/134409
      if: ${{ always() && contains(needs.*.result, 'failure') }}
      # https://github.com/marketplace/actions/actions-status-discord
      uses: sarisia/actions-status-discord@v1
      with:
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
        # current job is a success, but that's not what we're interested in
        status: failure

  deb-binary:
    name: "Bundling for DEB and RPM"
    runs-on: ubuntu-20.04 
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
        if: github.ref == 'refs/heads/master'
      - uses: cachix/install-nix-action@v22
        if: github.ref == 'refs/heads/master'
        with:
          nix_path: nixpkgs=channel:nixos-22.05
      - uses: cachix/cachix-action@v12
        if: github.ref == 'refs/heads/master'
        with:
          name: fedimint
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        continue-on-error: true
      - name: Build DEB package
        run: nix bundle --bundler github:NixOS/bundlers#toDEB --accept-flake-config -o fedimintd.bundled.deb .#fedimintd
      - name: Copy binary from symlink
        run: cp -L fedimintd.bundled.deb/fedimintd-bin-fedimintd_1.0_amd64.deb .
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with: 
          name: "deb-bundle"
          path: fedimintd-bin-fedimintd_1.0_amd64.deb
      - name: Build RPM package
        run: nix bundle --bundler github:NixOS/bundlers#toRPM --accept-flake-config -o fedimintd.bundled.rpm .#fedimintd
      - name: Copy binary from symlink
        run: cp -L fedimintd.bundled.rpm/fedimintd-bin-fedimintd-1.0-1.x86_64.rpm .
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with: 
          name: "deb-bundle"
          path: fedimintd-bin-fedimintd-1.0-1.x86_64.rpm
